EXPO_PUBLIC_API_URL=http://localhost:5000/api

EXPO_PUBLIC_GOOGLE_CLIENT_ID=xxxx.apps.googleusercontent.com
EXPO_PUBLIC_ANDROID_CLIENT_ID=xxxx.apps.googleusercontent.com
EXPO_PUBLIC_IOS_CLIENT_ID=xxxx.apps.googleusercontent.com